
p {
    font-size: 48px;
    color: blue;
}

.content{
    display:flex;
}

.background-container{
    height: 100vh;
    flex-basis: 50%;
    background-position: center;
    background-size: cover;
    background-image: url("background.avif");
}

.form-container{
    display: flex;
    width: 100%;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
    height: 20%;
    background: rgba(20, 20, 20, 0.6)
}

@font-face {
    font-family: "norse-bold";
    src: url("Norse-Bold.otf");
}

.logo-text {
    font-family: "norse-bold";
    color: white;
    font-size: 10vh;
}

.logo img {
    height: 80%;
}

